# Server Configuration
SERVER_PORT=3000
SERVER_HOST=localhost
SERVER_SHUTDOWN_GRACE_PERIOD_SECONDS=15s

# App config
APP_ENV=development
APP_NAME=shor.ty

# Db config
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=app
DB_NAME=url_shortener_dev
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0